# Ignore everything by default
*

# Allow specific folders
!*/lib/
!*/assets/

# Allow the .gitignore file itself and README
!.gitignore
!README.md

# Explicitly ignore other common Flutter files and large files
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/
**/build/
**/android/
**/ios/
**/linux/
**/macos/
**/web/
**/windows/
**/test/
**/pubspec.lock
**/*.iml
**/.metadata
**/.idea/
**/.vscode/
**/*.log
**/*.zip  # Add this to ignore all .zip files